@charset 'utf-8';
@import './reset.css';

/* header */
#header{
    width:100%;
}
#header .inner{
    width:1180px; margin: 0 auto;
    padding-top:50px; box-sizing: border-box;
}
#header .inner::after{
    content:''; display:block; clear:both;
}

#header .inner .logo{
    width:20%;
    padding:10px 0 20px; box-sizing:border-box;
    float:left;
}
#header .inner .logo h1{
    font:bold 3vh/1 arial;
    color:#444;
}
#header .inner .logo span{
    display:none;
}
#header .inner #gnb{
    width:80%;
    float:left;
}
#header .inner #gnb li{
    width: calc(100% / 5);
    text-align:center;
    float:left; 
    padding:15px 50px; box-sizing:border-box;
}
#header .inner #gnb li a{
    display:block;
    font:bold 1.4vh/1 arial;
    color:#666;
}
#header .inner #gnb li a:hover{
    text-decoration: underline;
    color:#111;
}

/* content */
.content{
    width:100%; padding:0 0 150px;
}
.content .sub_visual{
    width:100%; height:250px; background: #333;
    margin-bottom:100px;
}
.content .inner{
    width:1180px; margin:0 auto; min-height:500px;
}
.content .inner h1{
    font:bold 3vh/1 arial; color:#333;
    margin-bottom:100px;
}
.content .inner h1 span{
    font:normal 1.5vh/1 arial; color:#333;
}
.content .inner h1 span::before{
    content:"/";  margin-right:10px; margin-left:10px; 
}

.content .inner table{
    width:100%; border-bottom:1px solid #333; margin-bottom:50px; border-collapse:collapse;
}
.content .inner table tr{
    border-bottom:1px solid #ddd;
}

.content .inner table th{
    background:#444; padding:15px; color:#fff;
}
.content .inner table th:nth-of-type(1){
    width:10%;
}
.content .inner table th:nth-of-type(2){
    width:60%;
}
.content .inner table th:nth-of-type(3){
    width:15%;
}
.content .inner table th:nth-of-type(4){
    width:15%;
}

.content .inner table td{
    text-align:center; padding:15px;
}
.content .inner table td::after{
    content:''; display:block; clear:both;
}
.content .inner table td a{
    color:#333; float:left;
}

.content .inner .pagination{
    width:100%; text-align:center;
}
.content .inner .pagination::after{
    content:''; display:block; clear:both;
}

.content .inner .pagination .numbers{
    display:inline-block; font-size:0;
}
.content .inner .pagination .prev{
    display:block; width:100px; height:30px;
    font:bold 12px/30px 'arial'; color:#eee; background:#555;
    text-align:center; float:left;
}
.content .inner .numbers a{
    display:inline-block; width:30px; height:30px;
    font:bold 11px/30px 'arial'; text-align:center;
    border:1px solid #555;  box-sizing:border-box; color:#555;
    margin:0 5px;
}
.content .inner .pagination .next{
    display:block; width:100px; height:30px;
    font:bold 12px/30px 'arial'; color:#eee; background:#555;
    text-align:center; float:right;
}

/* gnbLow */
#gnbLow{
    width:100%; background: #333;
    color:lightgrey;
}
#gnbLow .inner{
    width:1180px; margin:0 auto;
    padding:50px 0; box-sizing: border-box;
}
#gnbLow .inner::after{
    content:''; display:block; clear:both;
}

#gnbLow .inner .wrap{
    float:left;
    margin-right:100px;
}
#gnbLow .inner .wrap h2{
    font: bold 1.6vh/2 arial;
}
#gnbLow .inner .wrap ul li a{
    font: normal 1.4vh/2 arial;
    color:#999;
}

#gnbLow .inner .wrap2{
    float:right; 
}
#gnbLow .inner .wrap2 ul{
    float:left;
    margin-left:30px;
}
#gnbLow .inner .wrap2 ul li a{
    font:1.6vh/2 arial;
    color:#999;
}



/* footer */
#footer{
    width:100%; background:#333;
    border-top:0.1px solid lightgrey;
    padding:30px 0; box-sizing: border-box;
}
#footer .inner{
    width:1180px;
    margin:0 auto;
}
#footer .inner::after{
    display:block; clear:both; content:'';
}
#footer .inner h1,
#footer .inner span,
#footer .inner form{
    width:calc(100% /3);
    color:#999;
    float:left;
}

#footer .inner select{
    width:200px;
    padding:5px 10px;
    color:#999;
    float:right;
    background:transparent;
}


/*---------------------------------------------------  */
@media screen and (max-width:1179px){
    /* header */
    #header .inner{ width:100%; padding:20px; box-sizing:border-box; }
    #header .inner .logo{ text-align:left; }
    #header .inner #gnb{ display:none; }

    /* gnbLow */
    #gnbLow .inner{ width:100%; padding:30px; box-sizing:border-box; margin:0 auto;}
    #gnbLow .inner .wrap{ margin-right:100px; }
    #gnbLow .inner .wrap2{ display:none;}

    /* footer */
    #footer .inner{ width:100%; padding:0 30px; box-sizing:border-box;}
    #footer .inner h1, #footer .inner span{ width:calc(100% / 2); }
    #footer .inner span{ display:block; text-align:right;}
    #footer .inner form{ display:none;}

}


/* mobile */
@media screen and (max-width:539px){
    /* header */
    #header .inner .logo span{ display:none; }

    /* gnbLow */
    #gnbLow .inner{ width:100%; padding:30px; box-sizing:border-box; }
    #gnbLow .inner .wrap{ margin-right:70px;}
    #gnbLow .inner .wrap2{ display:none;}
}