@charset 'utf-8';
@import './reset.css';

/* header */
#header{
    width:100%;
}
#header .inner{
    width:1180px; margin: 0 auto;
    padding-top:50px; box-sizing: border-box;
}
#header .inner::after{
    content:''; display:block; clear:both;
}

#header .inner .logo{
    width:20%;
    float:left;
}
#header .inner .logo h1{
    font:bold 3vh/1 arial;
    color:#444;
}
#header .inner .logo span{
    display:none;
}
#header .inner #gnb{
    width:80%;
    float:left;
}
#header .inner #gnb li{
    width: calc(100% / 5);
    text-align:center;
    float:left; 
    padding:15px 50px; box-sizing:border-box;
}
#header .inner #gnb li a{
    display:block;
    font:bold 1.4vh/1 arial;
    color:#666;
}
#header .inner #gnb li a:hover{
    text-decoration: underline;
    color:#111;
}

/* content */
.content{
    width:100%; padding:0 0 150px;
}
.content .sub_visual{
    width:100%; height:250px; background: #333;
    margin-bottom:100px;
}
.content .inner{
    width:500px; margin:0 auto; min-height:500px;
}
.content .inner h1{
    font:normal 3vh/1 arial; color:#333;
    margin-bottom:100px;
}
.content .inner h1 span{
    font:normal 1.5vh/1 arial; color:#333;
}
.content .inner h1 span::before{
    content:"/";  margin-right:10px; margin-left:10px; 
}


.content .inner form fieldset{
    border:none;
}
.content .inner form fieldset legend {
    display:none;
}
.content .inner form fieldset div{
    margin-bottom:40px;
}
.content .inner form fieldset div label{
    display:block; width:100%; font:bold 14px/1 'arial'; color:#555; margin-bottom:10px;
}
.content .inner form fieldset div input, 
.content .inner form fieldset div select{
    width:100%; height:50px; padding-left:20px; box-sizing:border-box; border:1px solid #aaa;
}

.content .inner form fieldset .birth{
    font-size:0;
}
.content .inner form fieldset .birth input,
.content .inner form fieldset .birth select{
    width:calc((100% - 40px) / 3);
}
.content .inner form fieldset .birth input{
    margin-right:20px;
}
.content .inner form fieldset .birth select:nth-of-type(1){
    margin-right:20px;
}

.content .inner form fieldset .phone select{
    margin-bottom:10px;
}
.content .inner form fieldset .phone #userphone{
    width:70%; margin-right:18px;
}
.content .inner form fieldset .phone #conf{
    margin-top:10px;
}
.content .inner form fieldset .phone a{
    display: inline-block; color:#eee;
    width:25%; height:50px; font:normal 14px/50px arial; text-align:center;
    background: #444;





/* gnbLow */
#gnbLow{
    width:100%; background: #333;
    color:lightgrey;
}
#gnbLow .inner{
    width:1180px; margin:0 auto;
    padding:50px 0; box-sizing: border-box;
}
#gnbLow .inner::after{
    content:''; display:block; clear:both;
}

#gnbLow .inner .wrap{
    float:left;
    margin-right:100px;
}
#gnbLow .inner .wrap h2{
    font: bold 1.6vh/2 arial;
}
#gnbLow .inner .wrap ul li a{
    font: normal 1.4vh/2 arial;
    color:#999;
}

#gnbLow .inner .wrap2{
    float:right; 
}
#gnbLow .inner .wrap2 ul{
    float:left;
    margin-left:30px;
}
#gnbLow .inner .wrap2 ul li a{
    font:1.6vh/2 arial;
    color:#999;
}

/* footer */
#footer{
    width:100%; background:#333;
    border-top:0.1px solid lightgrey;
    padding:30px 0; box-sizing: border-box;
}
#footer .inner{
    width:1180px;
    margin:0 auto;
}
#footer .inner::after{
    display:block; clear:both; content:'';
}
#footer .inner h1,
#footer .inner span,
#footer .inner form{
    width:calc(100% /3);
    color:#999;
    float:left;
}

#footer .inner select{
    width:200px;
    padding:5px 10px;
    color:#999;
    float:right;
    background:transparent;
}


/*---------------------------------------------------  */
@media screen and (max-width:1179px){
    /* header */
    #header .inner{ width:100%; padding:20px; box-sizing:border-box; }
    #header .inner .logo{ text-align:left; }
    #header .inner #gnb{ display:none; }

    /* gnbLow */
    #gnbLow .inner{ width:100%; padding:30px; box-sizing:border-box; margin:0 auto;}
    #gnbLow .inner .wrap{ margin-right:100px; }
    #gnbLow .inner .wrap2{ display:none;}

    /* footer */
    #footer .inner{ width:100%; padding:0 30px; box-sizing:border-box;}
    #footer .inner h1, #footer .inner span{ width:calc(100% / 2); }
    #footer .inner span{ display:block; text-align:right;}
    #footer .inner form{ display:none;}

}


/* mobile */
@media screen and (max-width:539px){
    /* header */
    #header .inner .logo span{ display:none; }

    /* gnbLow */
    #gnbLow .inner{ width:100%; padding:30px; box-sizing:border-box; }
    #gnbLow .inner .wrap{ margin-right:70px;}
    #gnbLow .inner .wrap2{ display:none;}
}