@charset 'utf-8';
@import './reset.css';


/* header */
#header{
    width:100%; padding-top:50px; box-sizing: border-box;
}
#header .inner{
    width:1180px; margin:0 auto;
}

#header .inner .logo{
    display: block;
    text-align:center;
    padding-bottom:30px;
}
#header .inner .logo h1{
    font:bold 3vh/1 arial;
    color:#444;
    
}
#header .inner .logo span{
    display: block;
    font:normal 1.2vh/1 arial;
    color:#444;
    margin-top:10px;
}

#header .inner #gnb::after{
    content:''; display:block; clear:both;
}
#header .inner #gnb li{
    width: calc(100% / 5); height:60px;
    text-align:center;
    float:left; 
}
#header .inner #gnb li a{
    display:block;
    width:100%; height:100%;
    font:bold 1.5vh/60px arial;
    color:#666;
}
#header .inner #gnb li a:hover{
    text-decoration: underline;
    color:#111;
}


/* visual */
#visual{
    width:100%;
}
#visual .inner h1{
    text-indent:-9999px;
}
#visual .swiper-container{
    width:1180px; height:400px; margin:0 auto;
    background: #333;
}
#visual .swiper-container .swiper-slide{
    width:100%; height:100%;
}

#visual .swiper-container .swiper-wrapper .s1{
    background: #000;
}
#visual .swiper-container .swiper-wrapper .s2{
    background: #222;
}
#visual .swiper-container .swiper-wrapper .s3{
    background: #444;
}
#visual .swiper-container .swiper-wrapper .s4{
    background: #666;
}
#visual .swiper-container .swiper-wrapper .s5{
    background: #888;
}
#visual .swiper-container .swiper-wrapper .s6{
    background: #eee;
}




/* iconBox */
#iconBox{
    width:100%; padding:100px 0; box-sizing: border-box;
}
#iconBox .inner{
    width:1180px; margin:0 auto;
}
#iconBox .inner h1{
    text-indent:-9999px;
}
#iconBox .inner h2{
    text-align:center;
    font:bold 2vh/2 arial; color:#333;
}
#iconBox .inner>span{
    display:block;
    text-align:center;
    font:normal 1.2vh/1 arial; color:#333;
    margin-bottom:50px;
}
#iconBox .inner ul::after{
    display:block; content:''; clear:both;
}
#iconBox .inner ul li{
    width:calc(100% / 6 - 60px);
    float:left;
    margin:0 30px;
}
#iconBox .inner ul li a i{
    display:block;
    font-size:3.5vh;
    color:#444;
    text-align:center;
    margin-bottom:20px;
}
#iconBox .inner ul li a span{
    display:block;
    font:1.4vh/1 arial;
    color:#444;
    text-align:center;
}


/* brand */
#brand{
    width:100%; padding-bottom:300px; box-sizing: border-box;
}
#brand .inner{
    width:1180px; margin:0 auto;
    
}
#brand .inner .wrap::after{
    display:block; clear:both; content:'';
}

#brand .inner .wrap article{
    width:calc(100% / 4 - 15px);
    border-top:solid #333 3px; box-sizing:border-box;
    padding-top:30px; position:relative;
}

#brand .inner .wrap article:nth-of-type(1),
#brand .inner .wrap article:nth-of-type(2),
#brand .inner .wrap article:nth-of-type(3){
    float:left;
    margin-right:20px;
}
#brand .inner .wrap article:nth-of-type(4){
    float:left;
}
#brand .inner h1{
    position:absolute; top:-9999px;
}
#brand .inner .wrap article span{
    font:bold 5vh/1 arial;
}
#brand .inner .wrap article h2{
    font:normal 3vh/1 arial;
}
#brand .inner .wrap article h2::after{
    display:block; content:'';
    width:60px; height:4px;
    background: #000;
    margin:20px 0;
}
#brand .inner .wrap h3{
    font:bold 1.6vh/2 arial;
    color:#333;
}
#brand .inner .wrap p{
    font:normal 1.3vh/1.4 arial;
    color:#666;
    margin-bottom:30px;
}
#brand .inner .wrap a{
    display:block;
    width:20%; height:30px;
    font:normal 1.5vh/30px arial;
    color:#333;
}

#brand .inner .pic-small{
    width:100%; height:20vh; background: #333;
}
#brand .inner .pic-large{
    width:100%; height:35vh; background: #333;
}


/* gnbLow */
#gnbLow{
    width:100%; background: #333;
}
#gnbLow .inner{
    width:1180px; margin:0 auto; padding:50px 0; box-sizing: border-box;
}
#gnbLow .inner h1{
    text-indent:-9999px;
}
#gnbLow .inner .wrap::after{
    content:''; display:block; clear:both;
}

#gnbLow .inner .wrap{
    width:100%;
}
#gnbLow .inner .wrap div{
    float:left;
    margin-right:100px;
    color:lightgrey;
}
#gnbLow .inner .wrap div h2{
    font: bold 1.6vh/2 arial;
}
#gnbLow .inner .wrap div ul li a{
    font: normal 1.4vh/2 arial;
    color:#999;
}

#gnbLow .inner .wrap .gnbLow-wrap-right{
    float:right; 
}
#gnbLow .inner .wrap .gnbLow-wrap-right ul{
    float:left;
    margin-left:30px;
}
#gnbLow .inner .wrap .gnbLow-wrap-right ul li a{
    font:1.6vh/2 arial;
    color:#999;
}



/* footer */
#footer{
    width:100%; background:#333;
    border-top:0.1px solid lightgrey;
    padding:30px 0; box-sizing: border-box;
}
#footer .inner{
    width:1180px;
    margin:0 auto;
}
#footer .inner::after{
    display:block; clear:both; content:'';
}
#footer .inner h1,
#footer .inner span,
#footer .inner form{
    width:calc(100% /3);
    color:#999;
    float:left;
}

#footer .inner select{
    width:200px;
    padding:5px 10px;
    color:#999;
    float:right;
    background:transparent;
}


/* --------------------------------------------------------------------------- */
/* tablet */
@media screen and (max-width:1179px){
    /* header */
    #header .inner{ width:100%; padding:20px; box-sizing:border-box; }
    #header .inner .logo{ text-align:left; }
    #header .inner .logo h1, #header .inner .logo span{ display:inline-block; }
    #header .inner #gnb{ display:none; }


    /* visual */
    #visual .swiper-container{ width:100%;}

    /* iconBox */
    #iconBox .inner{ width:100% }
    #iconBox .inner ul li{
        width:calc(100% / 3 - 60px);
        float:left;
        margin:0 30px 50px;
    }

    /* brand */
    #brand .inner{ width:100%; padding:0 20px 300px }
    #brand .inner .wrap::after{ display:block; content:''; clear:both; }
    #brand .inner .wrap article{ width:calc(100% / 2 - 10px); }
    #brand .inner .wrap article:nth-of-type(1), 
    #brand .inner .wrap article:nth-of-type(3){ float:left; margin-right:20px; }
    #brand .inner .wrap article:nth-of-type(2), 
    #brand .inner .wrap article:nth-of-type(4){ float:left; margin-right:0; }
    
    /* gnbLow */
    #gnbLow .inner{
        width:100%; padding:30px 0; box-sizing: border-box;
    }
    #gnbLow .inner .wrap div{
        float:left;
        margin-right:100px; margin-bottom:30px;
        color:lightgrey;
    }
    #gnbLow .inner .wrap div h2{
        font: bold 1.6vh/2 arial;
    }
    #gnbLow .inner .wrap div ul li a{
        font: normal 1.4vh/2 arial;
        color:#999;
    }
    
    #gnbLow .inner .wrap .gnbLow-wrap-right{
        float:left;  margin-left:-30px;
    }
    #gnbLow .inner .wrap .gnbLow-wrap-right ul{
        float:none;
    }
    #gnbLow .inner .wrap .gnbLow-wrap-right ul li a{
        font:1.6vh/2 arial;
        color:#999;
    }
   

    /* footer */
    #footer .inner{ width:100%; padding:0 30px; box-sizing:border-box;}
    #footer .inner h1, #footer .inner span{ width:calc(100% / 2); }
    #footer .inner span{ display:block; text-align:right;}
    #footer .inner form{ display:none;}

}


/* mobile */
@media screen and (max-width:539px){
    /* header */
    #header .inner .logo span{ display:none; }

    /* iconBox */
    #iconBox .inner ul li{ width:calc(100% / 2 - 60px)}
    #iconBox .inner ul li a span{ font:1.3vh/1 arial; }


    /* brand */
    #brand .inner .wrap article{ width:100% }

    /* gnbLow */
    #gnbLow .inner{ width:100%; padding:30px; box-sizing:border-box; }
    #gnbLow .inner .wrap{ margin-right:70px;}
    #gnbLow .inner .wrap2{ display:none;}

    /* footer */

    #footer .inner span{ display:none;}
}